body {
  font-family: 'Space Grotesk', sans-serif;

  margin: 0;
  /* background-image: url(imgs/abt/abttt1.png); */
  background-image: url(imgs/bgs/blarr2.png);
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed; 
  background-position: top;
}

nav img {
  width: 180px;
}

#dlogo img {
  width: 120px;
  filter: brightness(0) invert(1);
}

#vismis{
  margin-top: 100px;
}

#vis h2, #mis h2{
  color: #0f33ff;
}

#vis p, #mis p{
  font-size: 18px;
}

#visimg img{
  width: 305px;
  /* filter: brightness(0) saturate(100%) invert(19%) sepia(96%) saturate(5500%) hue-rotate(227deg) brightness(100%) contrast(105%); */

}

#misimg img{
  width: 300px;
  /* filter: brightness(0) saturate(100%) invert(19%) sepia(96%) saturate(5500%) hue-rotate(227deg) brightness(100%) contrast(105%); */
}

/* @media screen (max-width:768px) {
  
} */

#bottomnav a{
  font-size: 16px;
}

#bottomnav a:hover{
  filter: brightness(0) saturate(100%) invert(19%) sepia(96%) saturate(5500%) hue-rotate(227deg) brightness(100%) contrast(105%);
  scale: 1.1;
}

#bottomleft h3{
  filter: brightness(0) saturate(100%) invert(19%) sepia(96%) saturate(5500%) hue-rotate(227deg) brightness(100%) contrast(105%);
}

#bottomcontact span, 
#bottoms p{
  font-size: 15px;
  color: white;
}

