/* Small phones */
@media (max-width:480px) { }

/* Phones */
@media (max-width:768px) { }

/* Tablets */
@media (max-width:1024px) { }

/* Laptops / small desktops */
@media (max-width:1440px) { }



/* ================= MOBILE FIX ================= */

@media (max-width:768px){

  /* Logo */
  .header--logo img{
    width:140px;
  }

}


@media (max-width:768px){

  .intro{
    display: inline;
  }

  .intro--banner{
    display:inline;
    flex-direction:column;
    text-align:center;
  } 

  .intro .intro--banner h1{
    font-size: 45px;
    text-align: left;
    margin-top: 90px;
    margin-bottom: 10px;
    line-height: 1.1;

  } 

  .intro .intro--banner .cta {
    
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .intro .intro--banner img{
    width: 600px;
    margin-left: -100px;
    margin-top: 0;
    position: absolute;
    z-index: -100;
    opacity: 0.5;
  }

  .intro--options{
    display: inline;
  }

  .intro--options a h3{
    margin-top: 20px;
  }

  .intro--options a p{
    margin-bottom: 20px;
    font-size: 18px;

  }


  /* about final  */

  .about--banner{
    display: inline;
  }

  .about--banner h2{
    font-size: 50px;
    margin-top: -70px;
  }

  #abtus h2{
    line-height: 1.2;
    font-size: 50px;
    margin-top: 0px;
  }

  .about--options{
    margin-top:20px;
  }

  .about--options a{
    margin-left:0;
    margin-right:0;
    margin-top: 20px;

  }

  .about--options p{
    font-size: 18px;
    text-align: justify;
    margin-top: 150px;
  }

  .about--banner img{
    width: 600px;
    margin-right: -100px;
    margin-bottom: -120px;
    position: absolute;
    z-index: -100;
    opacity: .5;
  }
  

  /* career final */


  .career--banner{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
  }

  #careers h2
  {
    margin-top: -50px;
  }

  #careers .career-text h1{
    margin-top: 0px;
    text-align: left;
    font-size: 45px;
  }

  .career--banner on{
    margin-top:20px;
    margin-bottom:25px;
  }

  #careers #car img{
    width:100%;
    margin-bottom: 100px;
    max-width:320px;
    margin:0 auto;
    position:static;
  }

  /* contact */

  #contacts{
    margin-left:0;
  }

  .contact--lockup{
    display: inline;
  }

  .contact--lockup iframe{

    margin-top: 100px;
    height: 150px;
    width: 100%;

  }

  .contact--lockup .modal{

    margin-top: -30px;
    height: 180px;
    width: 100%;

  }

  .contact--lockup .smicons{

    margin-top: 270px;
    height: 200px;
    width: 100%;
    margin-left:0;
    justify-content:center;
    bottom:0;
    position:relative;


  }

}



  