body{
  background-color: black;
}

#navimg img{
  width: 200px;
}

/* #foottext p{
  margin-left: 60%;
  text-align: center;
  width: 500px;
} */

.navbar-nav .nav-link{
  border-radius:30px;  
}

.navbar-toggler{
  border-radius:6px;
}

.navbar-nav{
  text-align:center;
}

.navbar-nav .nav-link{
  color:white !important;
  transition:0.3s;
}

.navbar-nav .nav-link:hover{
  color:#ffffff !important;
}

#foottext p{
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

#footmenu img{
  width: 200px;
}

footer .list-unstyled a:hover {
  color: #1a8cff !important;
}

.footer-icons a:hover .bxl-linkedin-square { color: #0A66C2; }
.footer-icons a:hover .bxl-facebook-square { color: #1877F2; }
.footer-icons a:hover .bxl-whatsapp-square { color: #25D366; }
.footer-icons a:hover .bxl-youtube { color: #FF0000; }
.footer-icons a:hover .bxl-instagram{ color: #E1306C; }


#feature img{
  width: auto;
}

.projects{
    width:100%;
    margin:auto;
}

.project{
    display:flex;
    justify-content:center;
}

/* Center the footer columns */
footer .col-lg-3 {
  text-align: center;
}

/* Remove default ul spacing */
footer .list-unstyled {
  padding: 0;
  margin: 0;
  display: inline-block;   /* shrink to content width */
  text-align: left;        /* keep text left aligned */
}

/* Align arrow + text properly */
footer .list-unstyled li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 0;
}

/* Give icon fixed width for perfect vertical line */
footer .list-unstyled li i {
  width: 20px;
  text-align: center;
}

/* 
.projects{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:stretch;
}

.project{
  display:flex;
  justify-content:center;
}

.row.projects{
  width:100%;
  margin:auto;
} */

/* Tablet */
@media (max-width: 768px) {

  /* Footer */
  footer .row {
    /* text-align: center; */
  }

  .footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;   /* This will perfectly center everything */
    padding: 0;

  }

  .footer ul li {
    display: flex;
    align-items: center;
    gap: 8px;  /* space between arrow and text */
    
  }
}

/* Mobile */
@media (max-width: 576px) {

   footer {
        padding-top: 30px;
    }
}


.row.projects{
    width:100%;
    margin:auto;
}

